<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>AWS</title>
    <link rel="stylesheet" type="text/css" href="/static/mystyle-aws.css" />
    <script>
      function submitForm() {
        // Show loading GIF
        var loadingGif = document.createElement("img");
        loadingGif.src = "/static/loading.gif"; // Replace with the actual path to your loading GIF
        document.body.appendChild(loadingGif);

        // Disable form submit button to prevent multiple submissions
        var submitButton = document.querySelector('input[type="submit"]');
        submitButton.disabled = true;

        // Submit the form
        document.forms[0].submit();
      }
    </script>
  </head>
  <body>
    <header>
      <button class="button"><a href="/registered">Home</a></button>
      <img
        class="icon"
        src="{{ url_for('static', filename='aws.png') }}"
        alt="AWS icon"
      />
      <h1 class="title">AWS Management Console</h1>
    </header>
    <div class="container_iam_form">
      <form action="/aws" method="POST">
        <h2>Create IAM User</h2>
        <label>Enter User-Name</label>
        <input type="text" name="username" required />
        <label>Enter Password</label>
        <input type="password" name="password" required />

        <input type="submit" name="submit" value="Create user" />
      </form>
    </div>
    <div class="container_instance_form">
      <form action="/aws" method="POST" onsubmit="submitForm();">
        <h2>Launch New Instance</h2>
        <label>Instance Name</label>
        <input type="text" name="instance_name" required />
        <label for="instance_type">Select Instance Type</label>
        <select class="select" name="instance_type" id="instance_type" required>
          <option value="t3.micro">t3.micro</option>
          <option value="t3.small">t3.small</option>
          <option value="t3.medium">t3.medium</option>
        </select>
        <label for="image_id">Select Operating System</label>
        <select class="select" name="image_id" id="image_id" required>
          <option value="ami-0507f77897697c4ba">Amazon Linux</option>
          <option value="ami-0c65adc9a5c1b5d7c">Ubuntu 20.04</option>
          <option value="ami-05cc83e573412838f ">
            Windows Server 2022 Base
          </option>
          <option value="ami-0c9fc71c27f48b6f4">macOS Ventura</option>
        </select>
        <label>Instance Count</label>
        <input type="number" name="instance_count" required step="1" />
        <div class="checkbox-container">
          <input type="checkbox" name="add_docker" value="true" />
          <label for="add_docker">Install Docker</label>
        </div>
        <div class="checkbox-container">
          <input type="checkbox" name="add_jenkins" value="true" />
          <label for="add_jenkins">Set up Jenkins Server</label>
        </div>
        <input type="submit" name="submit" value="Create instance" />
      </form>
      <div class="instances_table">
        <table>
          <thead>
            <tr>
              <th>Instance Name</th>
              <th>Instance ID</th>
              <th>Public IP</th>
              <th>Instance State</th>
            </tr>
          </thead>
          <tbody>
            {% for instance in instances %}
            <tr>
              <td>{{ instance['instance_name'] }}</td>
              <td>{{ instance['instance_id'] }}</td>
              <td>{{ instance['instance_public_ip'] }}</td>
              <td>{{ instance['instance_state'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
