/* change background color of page */
body {
  background-image: url('back_new.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: cursive;
  opacity:0.85;
  align-items: center;

}

/* style the heading */
h1 {
    color: black;
    text-align: center;
    font-size: 36px;
}


/* Style for the header */
header {
    background-color: #E8F0FE;
    color: black;
    border-radius:3%;



}
.title{
    margin-bottom: 20px;
    padding-bottom: 20px;
}
/* Style for the header links */
header a {
    color: black;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}

/* Style for the header links on hover */
header a:hover {
    color: #ccc;
}

/* Style for the homepage section */
.homepage {
    text-align: left;
    padding: 20px;
    border-color: black;
    border:solid;
    border-radius:3%;
    background-color:#E8F0FE;

}

/* Style for the main content */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.icon{
padding: 10px;
width: auto;
  height: 70px;
}

.icons_container{
text-align:center;
margin-top: 20px;
}

.header_homepage{
padding:10px;

}

.navbar_homepage{
text-align: center;


}

h2{
text-align:center;
}

.registration{
text-align:center;
font-size: 20px;
color:black;
}

.app_info{
font-size: 20px;
}

.register_link{
color:black;
}

.sign_up_form{
 border-color: black;
    margin: 0 auto;
    max-width: 400px;
    height: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:white;

}
.input {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 2px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;

        }

.submit {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #E8F0FE;
            color: black;
            border: 2px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            cursor: pointer;
            font-size: 15px;
            font-family: cursive;
        }

.sign_up_label{
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.button-bar{
    text-align: center;
     color:black;
}

.button{
    font-size: 15px;
    font-family: cursive;
    background-color: #E8F0FE;
    border-color: white;

}

.button a {
  color: black;
   font-size: 1.2em;
  padding: 10px 20px;
  margin: 10px;
}

h3{
align-items:center;
}

.icon_docker{
    padding: 15px;
    width: auto;
      height: 60px;
      float: right;
}